<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div ng-show="activeTab === tabs.Login" id="signIn" class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-youtube-square"></i></span>
					<span><i class="fab fa-instagram-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form id="loginForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input ng-model="loginForm.Username" id="loginUsername" type="text" class="form-control"
							placeholder="username">
					</div>
					<div class="float-right">
						<a href="#">Forgot your password?</a>
					</div>
					<div class="input-group form-group">

						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input ng-model="loginForm.Password" id="loginPassword" type="password" class="form-control"
							placeholder="password">
					</div>
					<div class="d-flex align-items-center justify-content-between">

						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="">
							<input ng-click="login()" id="signInButton" type="submit" value="Sign In"
								class="btn float-right primaryButton">
						</div>
					</div>
				</form>
			</div>
			<div id="loginResponseMessage" class="card-footer">
				<div class="input-group form-group">
					<input ng-click="setActiveTab(tabs.Register)" id="registerLink" type="button"
						value="Create an account" class="btn secondaryButton">
				</div>
			</div>
		</div>
		<div ng-show="activeTab === tabs.Register" id="register" class="card">
			<div class="card-header">
				<h3>Register</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-youtube-square"></i></span>
					<span><i class="fab fa-instagram-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form id="registerForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input ng-model="registerForm.Username" id="registerUsername" type="text" class="form-control"
							placeholder="username">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input ng-model="registerForm.Email" id="registerEmail" type="email" class="form-control"
							placeholder="email">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input ng-model="registerForm.Password" id="registerPassword" type="password"
							class="form-control" placeholder="password">
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<div>
						</div>
						<div>
							<input ng-click="register()" id="registerButton" type="submit" value="Register"
								class="btn float-right primaryButton">
						</div>
					</div>
				</form>
			</div>
			<div id="registerResponseMessage" class="card-footer">
				<div class="d-flex justify-content-center links">
					Have an account?<a id="signInLink" href="#" ng-click="setActiveTab(tabs.Login)">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>